<header class="navbar">
  <div class="nav-left">
    <nav class="nav-links-left">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </nav>
  </div>

  <div class="nav-center">
    <a routerLink="/home" routerLinkActive="active">ALEX PHOTOGRAPHY</a>
  </div>

  <div class="nav-right">
    <nav class="nav-links-right">
      <a routerLink="/info" routerLinkActive="active">Info</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </div>
</header>